<div class="form-wrapper">
    <img src="assets/logo.png" class="large-image" />

    <form (ngSubmit)="onSubmit()">
        <label>Username</label><br>
        <input id="username" type="text" [(ngModel)]="username" required /><br>
        <label>Password</label><br>
        <input id="password" type="text" [(ngModel)]="password" required />

        <div class="buttons">
            <!-- <img class="action-button" src="assets/close.png">
            <img class="action-button" src="assets/login.png" routerLink="/profile"> -->
            <mat-icon class="action-button" fontIcon="close"></mat-icon>
            <mat-icon class="action-button" fontIcon="login" routerLink="/profile"></mat-icon>
        </div>
    </form>
</div>

<script>
    function onSubmit() {
        alert(component.username);
    }
</script>