<div class="form-wrapper">
    <img src="assets/logo.png" class="large-image" />

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="username">Username</label><br>
        <input id="username" type="text" formControlName="username" /><br>
        <label for="password">Password</label><br>
        <input id="password" type="password" formControlName="password" />
        <p *ngIf="submitted && (formControl['username'].errors)" class="error-text">Invalid Credentials</p>

        <div class="buttons">
            <button class="custom-button" (click)="clear()" type="button">
                <mat-icon class="action-button" fontIcon="close"></mat-icon>
            </button>
            <button class="custom-button"><mat-icon class="action-button" fontIcon="login" type="submit"></mat-icon>
            </button>
        </div>
    </form>
</div>